body {
    display: flex;
    justify-content: center;
}
#container {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 66, 180);
    padding: 0 10px 10px 10px;
}

#screen {
    background-color: cornflowerblue;
    width: 90%;
    height: 10%;
    text-align: end;
    margin: 20px 20px 0 20px;
}

#value, 
#entring {
    font-size: 20px;
    

}

#btnContainer {
    display: flex;
    gap:20px;
    
    width: 90%;
    height: 80%;
    margin: 10px 20px;
}

#numberContainer {
    display: flex;
    flex-direction: column;
}

#opContainer {
    display: flex;
    flex-direction: column;
}

.number {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

.op {
    background-color: rgb(77, 94, 126);
    color: white;
    margin-top: 5px;
    margin: 8px;
    padding: 5px;
    font-size: 18px;
    border: none;
}