body {
    display: flex;
    justify-content: center;
    background-color: bisque;
}
#container {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 66, 180);
    padding: 0 10px 10px 10px;
    margin-top: 70px;
}

#screen {
    background-color: rgb(56, 141, 600);
    width: 90%;
    height: 10%;
    text-align: end;
    margin: 20px 20px 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#entering {
    font-size: 20px;
}

#btnContainer {
    display: flex;
    gap:15px;
    width: 90%;
    height: 80%;
    margin: 10px 20px;
}

#numberContainer {
    display: flex;
    flex-direction: column;
}

#opContainer {
    display: flex;
    flex-direction: column;
}

.number {
    margin: 10px;
    padding: 12px;
    font-size: 24px;
}

.op {
    background-color: rgb(56, 141, 147);
    color: white;
    margin-top: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border: none;
}